<%- include('../partials/header') %>

<div class="container d-flex align-items-center justify-content-center">
    <form method="POST" action="/login/history">
        <div class="mb-3">
          <label class="form-label">Nome de Usuário</label>
          <input type="text" class="form-control" name="username" placeholder="Username" required/>
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>

        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" class="form-control" name="password" placeholder="Senha">
        </div>

        <!--
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        -->

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('../partials/footer') %>
