<%- include('./partials/header') %>

<h1 class="text-center"><%= title %></h1>
<p class="text-center">
  <a href="">PDF to PNG</a>,
  <a href="">PNG to JPG</a>,
  <a href="">PNG to GIF</a>,
  <a href="">SVG to PNG</a>,
  <a href="">PNG to WEBP</a>
</p>
<button class="btn btn-primary">Hello</button>

<%- include('./partials/footer') %>