<div class="row d-flex align-items-center justify-content-between w-100 border-bottom border-2 border-dark">
  <div class="col-auto d-flex align-items-center">
    <i class="bi bi-bootstrap-fill fs-2"></i>
    <p class="fs-2 mb-0 ms-2">Placeholder</p>
  </div>

  <div class="col-auto">
      <a class="nav-link d-flex align-items-center" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle fs-2"></i>
        <i class="bi bi-caret-down-fill ms-1"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/profile/login">Perfil</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="/history/login">Histórico</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
      </ul>
  </div>
</div>
